<%- include('partials/header') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <br>
          <div class="row">
            <%-message%>
            <br>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Filter Subscribers</h4>
                  <div class="table-responsive">
                    <form action="/report" method="POST">
                    <input style="display: None;" id="page" name="page" value="<%-page%>"/>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Last Date
                          </th>
                          <th>
                            Phone Number
                          </th>
                          <th>
                            Membership No
                          </th>
                          <th>
                            Member Name
                          </th>
                          <th>
                            Agent Code
                          </th>
                          <th>
                            Executive Code
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>
                              <input type="date" class="form-control" placeholder="Date" name="date" value="<%-condition.date%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Phonenumber" name="phonenumber" value="<%-condition.phonenumber%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Registration ID" name="registrationID" value="<%-condition.registrationID%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Username" name="username" value="<%-condition.username%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Agent Code" name="agentcode" value="<%-condition.agentcode%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Execuitive Code" name="execuitivecode" value="<%-condition.execuitivecode%>">
                            </td>
                          </tr>
                          <button type="submit" style="background-color: #1090CF;" class="btn btn-info">Search</button>
                      </tbody>
                    </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <form action="/pendingDownload" method="POST">
            <div class="btn-wrapper">
              <input style="display: None;" name="seasonnumber" value="<%-seasonnumber%>"/>
              <input style="display: None;" name="phonenumber" value="<%-condition.phonenumber%>"/>
              <input style="display: None;" name="date" value="<%-condition.date%>"/>
              <input style="display: None;" name="username" value="<%-condition.username%>"/>
              <input style="display: None;" name="registrationID" value="<%-condition.registrationID%>"/>
              <input style="display: None;" name="agentcode" value="<%-condition.agentcode%>"/>
              <input style="display: None;" name="execuitivecode" value="<%-condition.execuitivecode%>"/>
              <button type="submit" class="btn btn-primary text-white me-0"><i class="icon-printer"></i> Download</button>
            </div>
            <br>
            </form>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Scheme Subscribers</h4>
                  <div class="table-responsive">
                    <div>
                      <p class="statistics-title">Total Members</p>
                      <h3 class="rate-percentage"><%-user.length%></h3>
                      <br>
                      <%if(page!=1){%>
                      <form action="/reportPrev" method="POST" style="display: inline-block;">
                        <input style="display: None;" id="page" name="page" value="<%-page%>"/>
                        <input style="display: None;" name="seasonnumber" value="<%-seasonnumber%>"/>
                        <input style="display: None;" name="phonenumber" value="<%-condition.phonenumber%>"/>
                        <input style="display: None;" name="date" value="<%-condition.date%>"/>
                        <input style="display: None;" name="username" value="<%-condition.username%>"/>
                        <input style="display: None;" name="registrationID" value="<%-condition.registrationID%>"/>
                        <input style="display: None;" name="agentcode" value="<%-condition.agentcode%>"/>
                        <input style="display: None;" name="execuitivecode" value="<%-condition.execuitivecode%>"/>
                        <button type="submit" class="btn btn-danger">Prev</button>
                      </form>
                      <%}%>
                      <%if(user.length!=0){%>
                      <form action="/reportNext" method="POST" style="display: inline-block;">
                        <input style="display: None;" id="page" name="page" value="<%-page%>"/>
                        <input style="display: None;" name="seasonnumber" value="<%-seasonnumber%>"/>
                        <input style="display: None;" name="phonenumber" value="<%-condition.phonenumber%>"/>
                        <input style="display: None;" name="date" value="<%-condition.date%>"/>
                        <input style="display: None;" name="username" value="<%-condition.username%>"/>
                        <input style="display: None;" name="registrationID" value="<%-condition.registrationID%>"/>
                        <input style="display: None;" name="agentcode" value="<%-condition.agentcode%>"/>
                        <input style="display: None;" name="execuitivecode" value="<%-condition.execuitivecode%>"/>
                        <button type="submit" class="btn btn-danger">Next</button>
                      </form>
                      <%}%>
                    </div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Membership No
                          </th>
                          <th>
                            Member Name
                          </th>
                          <th>
                            Phone Number 1
                          </th>
                          <th>
                            Phone Number 2
                          </th>
                          <th>
                            Agent Code
                          </th>
                          <th>
                            Executive Code
                          </th>
                          <th>
                            Pending Payment (in Rs)
                          </th>
                          <th>
                            Update Transaction
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <%for(let i=0;i!=user.length;i++){%>
                          <tr>
                            <td>
                              <%-user[i].registrationID%>
                            </td>
                            <td>
                              <%-user[i].username%>
                            </td>
                            <td>
                              <%-user[i].phonenumber1%>
                            </td>
                            <td>
                              <%-user[i].phonenumber2%>
                            </td>
                            <td>
                              <%-user[i].agentcode%>
                            </td>
                            <td>
                              <%-user[i].execuitivecode%>
                            </td>
                            <td>
                              <%-pending[i]%>
                            </td>
                            <td>
                              <form action="/transaction" method="POST"> 
                                <input style="display: None;" name="update" value="<%-user[i]._id%>"/>
                                <button style="background-color: #36c978;" class="btn btn-info">Transactions</button>
                              </form>
                            </td>
                          </tr>
                        <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
<%- include('partials/footer') %>