<%- include('partials/header') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <br>
          <div class="row">
            <%-message%>
            <br>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Filter Subscribers</h4>
                  <div class="table-responsive">
                    <form action="/view" method="POST">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Season
                          </th>
                          <th>
                            Membership No
                          </th>
                          <th>
                            Member Name
                          </th>
                          <th>
                            Agent Code
                          </th>
                          <th>
                            Executive Code
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Phone Number
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>
                              <select name="seasonnumber" class="form-control">
                                <option name="seasonnumber" value="<%-seasonnumber%>"><%-seasonnumber%></option>
                                <%for(let i=0;i!=size;i++){%>
                                <%if(seasonnumber!=i+1){%>
                                  <option name="seasonnumber" value="<%-i+1%>"><%-i+1%></option>
                                <%}%>
                                <%}%>
                              </select>
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Registration ID" name="registrationID" value="<%-condition.registrationID%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Username" name="username" value="<%-condition.username%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Agent Code" name="agentcode" value="<%-condition.agentcode%>">
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="Executive Code" name="execuitivecode" value="<%-condition.execuitivecode%>">
                            </td>
                            <td>
                              <select name="status" class="form-control">
                                <% if(condition.status=="ACTIVE"){%>
                                <option name="status" value="ACTIVE">ACTIVE</option>
                                <option name="status" value="WIN">WIN</option>
                                <option name="status" value="DELETE">DELETE</option>
                                <%}%>
                                <% if(condition.status=="WIN"){%>
                                <option name="status" value="WIN">WIN</option>
                                <option name="status" value="ACTIVE">ACTIVE</option>
                                <option name="status" value="DELETE">DELETE</option>
                                <%}%>
                                <% if(condition.status=="DELETE"){%>
                                <option name="status" value="DELETE">DELETE</option>
                                <option name="status" value="ACTIVE">ACTIVE</option>
                                <option name="status" value="WIN">WIN</option>
                                <%}%>
                              </select>
                            </td>
                            <td>
                              <input type="text" class="form-control" placeholder="phonenumber" name="phonenumber" value="<%-condition.phonenumber%>">
                            </td>
                          </tr>
                          <button type="submit" style="background-color: #1090CF;" class="btn btn-info">Search</button>
                      </tbody>
                    </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <form action="/downloadSubscriber" method="POST">
              <div class="btn-wrapper">
                <input style="display: None;" name="seasonnumber" value="<%-seasonnumber%>"/>
                <input style="display: None;" name="status" value="<%-condition.status%>"/>
                <input style="display: None;" name="phonenumber" value="<%-condition.phonenumber%>"/>
                <input style="display: None;" name="username" value="<%-condition.username%>"/>
                <input style="display: None;" name="registrationID" value="<%-condition.registrationID%>"/>
                <input style="display: None;" name="agentcode" value="<%-condition.agentcode%>"/>
                <input style="display: None;" name="execuitivecode" value="<%-condition.execuitivecode%>"/>
                <button type="submit" class="btn btn-primary text-white me-0"><i class="icon-printer"></i> Download</button>
              </div>
              <br>
              </form>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Scheme Subscribers</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Membership No
                          </th>
                          <th>
                            Member Name
                          </th>
                          <th>
                            Phone Number 1
                          </th>
                          <th>
                            Phone Number 2
                          </th>
                          <th>
                            Agent Code
                          </th>
                          <th>
                            Executive Code
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Update Button
                          </th>
                          <th>
                            Update Status
                          </th>
                          <th>
                            Update Transaction
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <%for(let i=0;i!=user.length;i++){%>
                          <tr>
                            <td>
                              <%-user[i].registrationID%>
                            </td>
                            <td>
                              <%-user[i].username%>
                            </td>
                            <td>
                              <%-user[i].phonenumber1%>
                            </td>
                            <td>
                              <%-user[i].phonenumber2%>
                            </td>
                            <td>
                              <%-user[i].agentcode%>
                            </td>
                            <td>
                              <%-user[i].execuitivecode%>
                            </td>
                            <td>
                              <%-user[i].status%>
                            </td>
                            <td>
                              <form action="/updatedata" method="POST"> 
                                <input style="display: None;" name="update" value="<%-user[i]._id%>"/>
                                <button style="background-color: #1090CF;" class="btn btn-info">Update</button>
                              </form>
                            </td>
                            <td>
                              <form action="/statusdata" method="POST"> 
                                <input style="display: None;" name="update" value="<%-user[i]._id%>"/>
                                <button class="btn btn-danger">Status</button>
                              </form>
                            </td>
                            <td>
                              <form action="/transactionSubscriber" method="POST"> 
                                <input style="display: None;" name="update" value="<%-user[i]._id%>"/>
                                <button style="background-color: #36c978;" class="btn btn-info">Transactions</button>
                              </form>
                            </td>
                          </tr>
                        <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
<%- include('partials/footer') %>