<%- include('partials/header') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <br>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <%-message%>
                  <button  class="btn btn-primary" style="background-color: rgb(59, 58, 58);" onclick="goBack()">Back</button>
                  <br>
                  <br>
                  <h4 class="card-title">Transactions of Subscriber: <%-user.username%></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Term
                          </th>
                          <th>
                            Expected Date
                          </th>
                          <th>
                            Payment Date
                          </th>
                          <th>
                            Transaction ID
                          </th>
                          <th>
                            Paid Amount (in Rs)
                          </th>
                          <th>
                            Pending Amount (in Rs)
                          </th>
                          <th>
                            Status
                          </th>
                        </tr>
                      </thead>
                      <form action="/transactionSubscriberMember" method="POST">
                        <input style="display: None;" name="identifier" value="<%-user._id%>"/>
                        <tbody>
                        <%for(let i=0;i!=user.transactionArray.length;i++){%>
                          <tr>
                            <td>
                              <%-i+1%>
                            </td>
                            <td>
                              <%-user.lastdateArray[i]%>
                            </td>
                            <td>
                              <input id="paymentdateArray[<%-i%>]" type="text" name="paymentdateArray[<%-i%>]" placeholder="Transaction Date" value="<%-user.paymentdateArray[i]%>"/>
                            </td>
                            <td>
                              <input id="transactionArray[<%-i%>]" type="text" name="transactionArray[<%-i%>]" placeholder="Transaction ID" value="<%-user.transactionArray[i]%>"/>
                            </td>
                            <td>
                              <input type="Number" style="display: None;" id="paidArray[<%-i%>]" name="paidArray[<%-i%>]" value="<%-user.paidArray[i]%>"/>
                              <div id="paid[<%-i%>]"><%-user.paidArray[i]%></div>
                            </td>
                            <td>
                              <input type="Number" style="display: None;" id="unpaidArray[<%-i%>]" name="unpaidArray[<%-i%>]" value="<%-user.unpaidArray[i]%>"/>
                              <div id="unpaid[<%-i%>]"><%-user.unpaidArray[i]%></div>
                            </td>
                            <td>
                              <button type="button" class="<%-i%> btn btn-danger" onclick="myFunction(this)">Paid/Unpaid</button>
                            </td>
                          </tr>
                        <%}%>
                      </tbody>
                      <button style="background-color: #1090CF;" class="btn btn-info">Update</button>
                      </form>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
<script>
  let length = "<%-user.transactionArray.length%>";
  function myFunction(button) {
    let buttonClasses = button.classList;
    let classesArray = Array.from(buttonClasses);
    let index = classesArray[0];
    let myElement1 = document.getElementById("paid"+"["+index+"]");
    let myElement2 = document.getElementById("unpaid"+"["+index+"]");
    let a  = myElement1.innerHTML;
    let b  = myElement2.innerHTML;
    myElement1.innerHTML = b;
    myElement2.innerHTML = a;
    let myinput1 = document.getElementById("paidArray"+"["+index+"]");
    let myinput2 = document.getElementById("unpaidArray"+"["+index+"]");
    a = myinput1.value;
    b = myinput2.value;
    myinput1.value = b;
    myinput2.value = a;
  }
</script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
<%- include('partials/footer') %>