<%- include('partials/header') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <br>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form action="/agent" method="GET">
                    <button type="submit" class="btn btn-primary" style="background-color: rgb(59, 58, 58);">Back</button>
                  </form>
                  <br>
                  <h4 class="card-title">Update Agent: <%-agent.agentcode%></h4>
                  <form action="/updateAgent" method="POST">
                    <div class="form-group">
                      <label for="Username">Username</label>
                      <input type="text" class="form-control" placeholder="Username" name="username" value="<%-agent.username%>" required>
                    </div>
                    <div class="form-group">
                      <label for="agentID">Phone Number</label>
                      <input type="number" class="form-control" placeholder="Phone Number" name="phonenumber" value="<%-agent.phonenumber%>" required>
                    </div>
                    <input style="display: None;" name="agentcode" value="<%-agent.agentcode%>"/>
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
<%- include('partials/footer') %>